body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    color: white;
    display: flex;
    overflow-y: hidden;
    position: relative;
}

#content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    animation: slideRight 1.5s ease-in-out;

}

#resume {

    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-left: 50vw;
    margin-top: 80vh;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}


@keyframes fadeInBrightness {
    from {
        opacity: 0;
        filter: brightness(0%);
    }

    to {
        opacity: 1;
        filter: brightness(100%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#bodydiv {
    width: 60%;
    flex-grow: 1;
    margin-left: 200px;
    padding: 20px;
    font-size: 75px;
    margin-top: 150px;
    display: inline-block;
    animation: slideRight 0.9s ease-in-out;
}

#bodydiv2 {
    flex-grow: 1;
    margin-left: 100px;
    margin-top: 180px;
    font-size: 75px;
    width: 300px;
    display: inline-block;
    animation: slideDown 0.7s ease-in-out;
    text-shadow: 0px 0px 25px rgba(97, 32, 248, 0.598);

}

#header {
    border-radius: 25px;
    animation: slideLeft 1.1s ease-in-out;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0);
    width: 70px;
    display: flex;
    position: fixed;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid rgba(97, 32, 248, 0.2);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    box-shadow: 0 0 25px rgba(97, 32, 248, 0.1);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

#header a:hover {
    transform: scale(1.1);
    color: white;
}

#header a {
    text-decoration: none;
    color: #6120f8;
    font-family: sans-serif;
    font-size: 0.9rem;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    animation: slideDown 2.5s ease-in-out;
}

main {
    margin-left: 160px;
    padding: 20px;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

}

#links {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease;
    color: #6120f8;
    margin-left: 0px;

}


#links:hover {
    color: white;
}



.switch {
    animation: slideDown 2.5s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    height: 16px;
    margin-top: 20px;
    justify-content: center;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switchclass {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}



.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 16px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}


input:checked+.slider {
    background-color: #6120f8;
}

input:checked+.slider:before {
    transform: translateX(14px);
}

#switchlabelcolor {

    animation: slideDown 2.5s ease-in-out;
    margin-left: 0px;
}

#bdiv {
    padding: 5px;
    border: 1px solid rgba(97, 32, 248, 0.2);
    box-shadow: 0 0 25px rgba(97, 32, 248, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    animation: slideRight 1.5s ease-in-out;
    width: 50%;
    font-size: 16px;
    margin-top: 40px;
    color: #bababa;
}

/*design one!*/
/* #resumebutton {
    background-color: transparent;
    border: 1px solid #6120f8;
    color: white;
    border-radius: 20px;
    padding: 10px;
    transition: all 0.3s ease-in-out; 
    position: relative; 
}

#resumebutton:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 0px 18px 4px rgba(97, 32, 248, 0.4); 
    cursor: pointer; 
    transition: all 0.3s ease-in-out; 
}
#resumebutton:active {
    transform: scale(0.99);
    box-shadow: 0 2px 10px rgba(97, 32, 248, 0.4);
    background: linear-gradient(135deg, #6120f8, #6120f8);
  } */
#resumebutton {
    animation: fadeInBrightness 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    ;
    background: transparent;
    border: 2px solid rgba(97, 32, 248, 0.721);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 100;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 120px;
    margin-left: -30px;
    box-shadow: 1px;
    box-shadow: 0 0 25px rgba(97, 32, 248, 0.1);
}

#resumebutton:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 18px 4px rgba(97, 32, 248, 0.4);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#resumebutton:active {
    color: #6120f8;
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(97, 32, 248, 0.2);
    background-color: white;
}


#name {
    text-shadow: 0px 0px 25px rgba(97, 32, 248, 0.598);
}






/*///////////////////////////////////////*/

.moving-blocks {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.falling-star {
    position: absolute;
    background: linear-gradient(to left, #6120f8, rgba(255, 255, 255, 0));
    border-radius: 50%;
    width: 1px;
    height: 2px;
    transform-origin: left center;
    transform: rotate(10deg);
    box-shadow: 0 0 10px #6120f8;
    opacity: 1;
}

@keyframes fall {
    0% {
        transform: translate(0, 0) scaleX(1) rotate(36deg);
        width: 1px;
        opacity: 1;
    }

    50% {
        transform: translate(50vw, 50vh) scaleX(1) rotate(37deg);
        width: 140px;
        opacity: 0.2;
    }

    100% {
        transform: translate(100vw, 100vh) scaleX(1) rotate(38deg);
        width: 200px;
        opacity: 0;
    }
}